body
{
    background: #8fccf5;
    text-align: center;
}

h1
{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

h4
{
    color:rgb(224, 23, 140);
}

#camera
{
    margin: auto;
    width: 500px;
    height: 400px;
    border:1px solid rgb(134, 6, 68);
}

img
{
    width: 37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

.column
{
    display: inline;
    padding: 10px;
}

img:hover{
    border-radius: 140px;
}

.copy_right_footer 
{
    position: fixed;
    color: #199ccf;
    bottom: 0;
    width: 100%;
    background-color: #530843;
    line-height: 3;
    text-align: center;
 }
